a{
    border-width: 5px;
    border-color: gold;
    border-style: solid;
    font-size: 70px;
    color: gold;
    
    
}
b{
    font-size: 35px;
    color: rgba(20, 20, 235, 0.966);
}
f{  
  font-size: 20px;
}   
z{
  font-size: 15px;
  color: rgb(194, 194, 53);
  
}
body{
  margin: 0;
  margin-top: 5px;
  
}
div{
  text-align: center;
}